/* Business Hours Section */

/* .hours-section__container {
    padding: 80px;
} */

.hours-section__background {
    max-width: 1150px;
    height: 750px;
    margin: 0 auto;
    border-radius: 150px;

    background-image: url(../../../../assets/business-hours.png);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hours-section__hours h2 {
    color: var(--white);
    /* font-size: 60px;
    line-height: 70px; */
    margin-bottom: 15px;
}

.hours-section__hours h3 {
    color: var(--white);
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
}

.hours-section__lunch-dinner {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hours-section__lunch-dinner p {
    color: var(--white);
    font-size: 20px;
    line-height: 40px;
    text-align: right;
}

.hours-section__hours .btn-orange {
    margin-right: 15px;
}

