/*Welcome Section */

#welcome-section {
    background-color: #3fc66e1a;
}

.welcome-section__container {
    padding: 80px;
    padding-right: 0;
    display: flex;
    align-items: center;

    @media (max-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    @media (max-width: 800px) {
        padding: 80px 40px 40px 40px;
    }
}

.welcome-section__left {
    width: 55%;
    order: 2;

    @media (max-width: 1000px) {
        width: 100%;
    }
}
.welcome-section__left img {
    width: 100%;
    height: auto;
}

.welcome-section__right {
    width: 45%;
    order: 1;

    @media (max-width: 1000px) {
        width: 100%;
    }

    @media (max-width: 600px) {
        .btn {
            height: 55px;
            font-size: 16px;
            font-weight: 400;
            border-radius: 162px;
            padding-right: 36px;
            padding-left: 36px;
        }
    }
}

.welcome-section__right h2 span {
    color: var(--orange);
}

.welcome-section__right p {
    letter-spacing: 1px;
}
