/* Testimonials Section */

#testimonials-section {
    background-image: url("../../../../assets/customers.png");
    background-size: cover;
    background-position: top;
    background-color: #fbfafa;
}

.testimonials-section__container {
    position: relative;

}

.testimonials-section__container h2 {
    /* font-size: 60px;
    line-height: 70px;
    color: var(--dark-brown); */
    margin-bottom: 100px;
    text-align: center;

}

.testimonials-section__testimonials {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    @media (max-width: 1000px) {
        justify-content: center;
    }
}

.testimonials-section__testimonial {
    width: 30%;
    text-align: center;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.testimonials-section__testimonial img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 35px;

    @media (max-width: 1000px) {
        height: 300px;
        width: 300px;   
    }
}

.testimonials-section__testimonial h4 {
    color: var(--dark-brown);
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
}

.testimonials-section__testimonial h5 {
    color: var(--light-brown);
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.testimonials-section__testimonial p {
    color: var(--light-brown);
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    @media (max-width: 1000px) {
        width: 70%;
        margin: 0 auto;
    }
}

.icon {
    display: none;
    cursor: pointer;

    @media (max-width: 1000px) {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
    }
}

.left {
    top: 60%;
    left: 15%;
}

.right {
    top: 60%;
    right: 15%;
}