/* Reservation Section */

#reservation-section {
    background-color: #fff4e766;
}

.reservation-section__container {
    /* padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 0; */
    padding: 80px, 80px, 80px, 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

.reservation-section__left {
    width: 55%;
}

.reservation-section__left img {
    width: 100%;
    height: auto;
}

.reservation-section__right {
    width: 45%;
}

/* .reservation-section__right h2 {
    font-size: 60px;
    line-height: 70px;
    color: var(--dark-brown);
    margin-bottom: 50px;
} */

.reservation-section__right h2 span,
.chefs-section__container h2 span {
    color: var(--orange);
}

/* .reservation-section__right p {
    color: var(--light-brown);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
} */
