/* Menu Section */

.menu-section__container h2 {
    text-align: center;
    /* font-size: 60px;
    line-height: 70px;
    color: var(--dark-brown);
    margin-bottom: 50px; */
}

.menu-section__filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
    overflow-x: auto;

    @media (max-width: 1100px) {
        .btn {
            height: 50px;
            padding-left: 36px;
            padding-right: 36px;
        }
    }
}

.menu-section__meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: space-between;
    gap: 40px;
    overflow-x: auto;
}

.menu-section__stars {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.menu-section__price {
    font-size: 25px;
    line-height: 38px;
    color: var(--dark-brown);
    font-weight: 600;
}

.card {
    width: auto;
    min-width: 300px;
    padding: 35px 37px;
    background-color: #d0ccc733;
    border-radius: 70px;

}

.card__img {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.card__title {
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.card__text {
    font-size: 14px;
    line-height: 28px;
    color: #59442b;
    text-align: center;
    margin-bottom: 30px;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1100px) {
        .btn {
            height: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
