/* Chefs Section */
#chefs-section {
    text-align: center;

    .btn {
        @media (max-width: 600px) {
            height: 55px;
            font-size: 16px;
            font-weight: 400;
            border-radius: 162px;
            padding-right: 36px;
            padding-left: 36px;
        }
    }
}

.chefs-section__chefs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 50px;

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.chefs-section__container .btn-orange {
    display: block;
    margin: 0 auto;
}

.chefs-section__chef img {
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin-bottom: 40px;
}

.chefs-section__chef:first-child img {
    background-color: #c4c4c4;
}

.chefs-section__chef:nth-child(2) img {
    background-color: #ff8a0033;
}

.chefs-section__chef:nth-child(3) {
    display: none;

    @media (max-width: 900px) {
        display: list-item;
        img {
            background-color: #ff8a0033;
        }
    }
}

.chefs-section__chef:last-child img {
    background-color: #9d654233;
}

.chefs-section__chef h4 {
    margin-bottom: 15px;
    color: var(--dark-brown);
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
}

.chefs-section__chef p {
    color: #a08d76;
    font-size: 25px;
    line-height: 50px;
    font-weight: 400;
}
