@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../assets/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%; /* it sets base font size to 10px */
}


span {
    color: var(--orange);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



.welcome-section__right p,
.reservation-section__right p {
    color: var(--light-brown);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
}

.hero-section__container,
.menu-section__container,
.chefs-section__container,
.testimonials-section__container,
.hours-section__container,
.footer__container {
    padding: 80px;

    @media (max-width: 800px) {
        padding: 40px;
    }
}

/*Container */

.sections-container {
    max-width: 1440px;
    margin: 0 auto;
}
