/* Footer */

.footer__text {
    color: #e3e2e0;
    font-size: 16px;
    line-height: 28px;
    display: block;
    margin-bottom: 20px;

    @media (max-width: 700px) {
        font-size: 20px;
        letter-spacing: 1.5px;
    }
}

.text-end {
    text-align: center;

    @media (max-width: 700px) {
        text-align: start;
    }
}

.footer__heading {
    color: var(--orange);
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* .footer__contact {
    width: 30%;

    @media (max-width: 700px) {
        width: 100%;
    }

} */
