/* Footer */

#footer {
    background-color: var(--dark-brown);
}

/* .footer__container {
    padding: 80px;
} */

.logo-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}

.footer__logo-text {
    color: var(--white);
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
}

.footer__text {
    color: #e3e2e0;
    font-size: 16px;
    line-height: 50px;
    display: block;
}

.footer__brand {
    width: 30%;
}

.text-center {
    text-align: center;
}

.footer__social-icons {
    margin-top: 40px;
}

.footer__social-icons img:first-child,
.footer__social-icons img:nth-child(2) {
    margin-right: 20px;
}

.footer-icon {
    @media (max-width: 1000px) {
        height: 30px;
        width: 30px;
    }
}


.footer__content {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.footer__heading {
    color: var(--orange);
    font-size: 25px;
    line-height: 50px;
    margin-bottom: 25px;
}

.footer__contact {
    width: 30%;
}



